/* General styles */
* {
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #f9f9f9;
}

/* Section titles */
.section > h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

/* Table styles */
.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.table-container > table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin-top: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.table-container > table th,
.table-container > table td {
    border: 1px solid #b1b1b1;
    padding: 10px;
    text-align: left;
}

.table-container > table th {
    background-color: #626069; /* Header background color */
    color: white; /* Header text color */
    text-align: center;
}

.table-container > table tr:hover {
    background-color: #f1f1f1;
}

.table-container > table td {
    font-size: 14px;
    color: #333;
}

/* Buttons */
.button {
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
    text-align: center;
}

.button.green {
    background-color: #4CAF50; /* Green */
    color: white;
}

.button.green:hover {
    background-color: #46a049;
}

.button.red {
    background-color: #f44336; /* Red */
    color: white;
}

.button.red:hover {
    background-color: #da190b;
}

.button.blue {
    background-color: #2196F3; /* Blue */
    color: white;
}

.button.blue:hover {
    background-color: #0b7dda;
}

/* Input fields for inline editing */
.input {
    width: calc(100% - 20px);
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.input:focus {
    outline: none;
    border-color: #4CAF50;
}

/* Alignments */
.center-text {
    text-align: center;
}
